@page "/"

<PageTitle>Home</PageTitle>

<p>Howdy. I'm SeeWilds (Chris), a software developer, and this is my Blazor web app.</p> 
<p>Feel free to take the tour of Blazor in .Net 8, or if you want to read something, you can find that below!</p> 
<NavLink href="tour">Take the Tour</NavLink>